<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Add Food Page</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
</head>
<body id = "addfood">
	<div class="topnav" id="topnav">
		<a class="hvr-bounce-to-bottom" href="./">Home</a> 
		<a class="hvr-bounce-to-bottom" href="/about">About</a> 
		<a class="hvr-bounce-to-bottom" href="/register">Register</a> 
		<a class="hvr-bounce-to-bottom" href="/login">Login</a> 
		<a class="active" href="/addfood">Add food</a> 
		<a class="hvr-bounce-to-bottom" href="/searchfood">Search food</a> 
		<a class="hvr-bounce-to-bottom" href="/updatefood">Update food</a> 
		<a class="hvr-bounce-to-bottom" href="/listfood">List food</a> 
		<a class="hvr-bounce-to-bottom" href="/API">API</a> 
		<a class="hvr-bounce-to-bottom"	href="/logout">Logout</a> 
		<a class="icon" href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
	</div>
	<script>
	         function myFunction() {
	         var x = document.getElementById("topnav");
	         if (x.className === "topnav") {
	             x.className += " responsive";
	         } else {
	             x.className = "topnav";
	         }
	      } 
	</script>
<center><h1 class="addfoddpage_h1"> Add Food Page</h1>
<br>
</center>

<div class="addfoodcontainer">	
<form action="/foodadded" method="post"> 			
			<!--This is a from with different input fields for user interaction.Such fields will provide the data that will parse into functions and therefore perfom actions like registering the user-->
		<br>
<center> <h3> Please fill the form</h3></center>
<br>
		<label for="name"> Name</label>
                <input id="name" name="name" style="color:#808080" type="text">
                <br>
                <br>
		<label for="typicalvalues">Typical Values</label>
                <input id="typicalvalues" name="typicalvalues" style="color:#808080" type="number">
                <br>
                <br>
		<label for="unit">Unit of the typical value</label>
		<input id="unit" name="unit" type="text">
        <br>
        <br>
        <label for="calories">Calories</label> 
		<input id="calories" name="calories" style="color:#808080" type="number">&nbsp;Kilocalories
		<br>
		<br> 				
		<label for="carbs">Carbs</label>
		<input id="carbs" name="carbs" style="color:#808080" type="number" min="0">&nbsp;g
		<br>
		<br>
        <label for="fat">Fat</label>
		<input id="fat" name="fat" style="color:#808080" type="number" min="0" size="5">&nbsp;g
		<br>
		<br>
        <label for="protein">Protein</label>
		<input id="protein" name="protein" style="color:#808080" type="number" min="0" size="5">&nbsp;g
		<br>
		<br>
        <label for="salt">Salt</label>
		<input id="salt" name="salt" style="color:#808080" type="number" min="0" size="5">&nbsp;g
		<br>
		<br>
        <label for="sugar">Sugar</label>
		<input id="sugar" name="sugar" style="color:#808080" type="number" min="0" size="5">&nbsp;g
		<br>
		<br>
                <br> 				
	<input style="background-color:#44c767; color:white; padding:6px 24px; text-decoration:none; text-shadow:0px 1px 0px #2f6627;" type="submit" value="Submit"></label>	
	</form>
</div>
<br>
<br>
	<div class="footer">
		<center>
			<p>dcard001@gold.ac.uk</p>
			<p>Created on the fateful year of 2021</p>
		</center>
	</div>
</body>
</html>

