/* CSS Document */
	* {
		margin: 0;
	}
	
	body{
		margin-top: 5%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	/* Different body background image for each page */
	body#home {
		background-image: url('https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
	}
	body#about {
		background-image: url('https://images.pexels.com/photos/4199098/pexels-photo-4199098.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
	}
	body#register {
		background-image:url('https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
	}
	body#login {
		background-image:url('https://images.pexels.com/photos/1640768/pexels-photo-1640768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	}
	body#addfood {
		background-image:url('https://images.pexels.com/photos/4033404/pexels-photo-4033404.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
	}
	body#searchfood{
		background-image:url('https://images.pexels.com/photos/616484/pexels-photo-616484.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	}
	body#searchedfood {
		background-image:url('https://images.pexels.com/photos/357756/pexels-photo-357756.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
	}
	body#listfood {
		background-image:url('https://images.pexels.com/photos/7393901/pexels-photo-7393901.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
	}
	body#updatefood {
		background-image:url('https://images.pexels.com/photos/6294165/pexels-photo-6294165.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
	}

	/* Navigation bar */

	/* Add background color to the top navigation */
		.topnav {
			background-color: white;
			overflow: auto;
			position: fixed;
			display: inline-block;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
			text-align: center;
			justify-content: center;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
		}
		/* Style the links inside the navigation bar */
		.topnav a {
			align-content: center;
			color: #80B151;
			text-align: center;
			padding: 10px;
			text-decoration: none;
			font-size: 18px;
			display: inline-block;
			font-family: Arial, Helvetica, sans-serif;
		}
		/* Change the color of links on hover */
		.topnav a:hover {
			background-color: #80B151;
			color: white;
			text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
		}
		/* Add a color to the active/current link */
		.topnav a.active {
			background-color: #F3A944;
			color: white;
			height: 100%;
		}
		.topnav .icon {
			display: none;
		}

		.downarrow {
			margin-left: auto;
			margin-right: auto;
			margin: 0px;
			width: 100%;
			padding: 0;
			text-align: center;
			object-position: center;
			position: inherit;
		}
		/*Text*/
		/* Headers */
		.homepage_h1 {
			color: whitesmoke;
			text-shadow: 2px 2px 8px #000000;
			font-family: Verdana, Geneva, sans-serif;
			font-size:5vw;
			width: 90%;
			height: 70%;
			float: left;
			text-align: left;
			padding-left: 10%;
			padding-top: 12%;
			display: table;
		}
		.listpage_h3{
		background-color:rgba(255, 255, 255, 0.9);
                padding: 5px 20px;
		}
		/* Paragraphs */
		.abouttext{
  			position: absolute;
			left: 30%;
			width: 60%;
		}
		/* Containers */
		/*input[type=text] {
		box-sizing: border-box;
		border: 3px solid #ccc;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		outline: none;
		}

		input[type=text]:focus {
		border: 3px solid #555;
		}*/



		.registercontainer{
		width: 300px;
		clear: both;
		height: 350px;
		background-color:rgba(255, 255, 255, 0.9);
		padding: 5px 20px;
		margin: 0 auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.registercontainer input{
		width: 100%;
		clear: both;
		}
		

		.logincontainer{
		width: 300px;
		clear: both;
		height: 125px;
		padding: 5px 10px;
		margin: 0 auto;
		}
		.logincontainer input{
		width: 100%;
		clear: both;
		}

		.addfoodcontainer{
		position: absolute; 
		top: 185px;
		right: 250px;
		width: 350px;
		clear: both;
		height: 400px;
		text-color: white;
		background-color:rgba(255, 255, 255, 1);
		padding: 15px 20px;
		border: 0 0 50px 0;	/*NEW LINE HERE*/
		margin: 0 auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.addfoodcontainer input{
		/*width: 50%;*/
		clear: both;
		}

		.searchfoodcontainer{
		top: 50%;
		width: 300px;
		clear: both;
		height: 125px;
		padding: 5px 10px;
		margin: 0 auto;
		}
		.searchfoodcontainer input{
		width: 100%;
		clear: both;
		}	
		
		.updatefoodcontainer{
		width: 300px;
		clear: both;
		height: 50px;
		background-color:rgba(255, 255, 255, 0.9);
		padding: 5px 20px;
		margin: 0 auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.updatefoodcontainer input{
		width: 100%;
		clear: both;
		}
	
		
		table {
    		width:70%;
		border-collapse: collapse;
		margin:0 auto;
		background-color:rgba(255, 255, 255, 1);	
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		th, td {
		border-bottom: 1px solid #ddd;
		}
		th{
		text-align:center;
		}
		tr:hover {background-color:#f5f5f5;}
		tr:nth-child(even) {background-color: #f2f2f2;}	

		/* Footer */
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 5px;
			background-color: #232B2B;
			color: white;
			text-align: center;
			font-size: 10px;
			box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.5);
		}
